/jenkins/jenkins_compose/
/jenkins/docker/
/jenkins/docker/buildx/
/registry/auth/
/registry/registry_data/
/sonarqube/data/
/sonarqube/extensions/
/sonarqube/logs/
/git/git/
/nginx-proxy-manager/data/
